<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :shot_code , :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :shot_code, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.check_box :is_active %>
      </div>

      <div class="actions">
        <%= form.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
