<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6"><%= get_index_text('Teams') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Team', new_team_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>

<table class="table table-bordered">
  <tr class="tr_style">
    <th>Name</th>
    <th>Shot code</th>
    <th>Is active</th>
    <th colspan="2"></th>
  </tr>
  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.shot_code %></td>
      <td><%= team.is_active %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>


