<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Shot code:</strong>
  <%= @team.shot_code %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @team.is_active %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
