<div class="wrapper">
  <div class="row">
    <div class="col-sm-4"></div>
    <div style="align:center;">
      <div class="col-sm-4 text-center" style="padding-top: 15%">
        <%= form_tag sessions_path do |form| %>
          <div class="form-group" align="left" style="font-size: 14px;color: #3DA56B;font-family: avenirltstd-Light">
            <h3 class="text-center" style="font-family: avenirltstd-Light;color: #3DA56B;">Sign In</h3>
            <label class="control-label" for="username">User Name</label>
            <div><%= text_field_tag :email, "", :class => "form-control" %></div>
          </div>
          <div class="form-group" align="left" style="font-size: 16px;color: #3DA56B;font-family: avenirltstd-Light">
            <label class="control-label" for="username">password</label>
            <div><%= password_field_tag :password, "", :class => "form-control" %></div>
          </div>
          <div><p id=”alert”><%= alert %></p></div>
          <div class="actions" style="padding-top: 10px">
            <div align="center">
              <%= submit_tag("LoGIN", :class => 'btn btn-primary', :style => 'background-color:305582;width:100%') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>