<%= form_with(model: system_setting, local: true) do |form| %>
  <% if system_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_setting.errors.count, "error") %> prohibited this system_setting from being saved:</h2>

      <ul>
        <% system_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :key, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :key, :class => 'form-control', :placeholder => ' Key ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :value, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :value, :class => 'form-control', :placeholder => ' Value ', :required => true %>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
