
<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New System Setting') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'Back', system_settings_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <%= render 'form', system_setting: @system_setting %>
</div>
