<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @system_setting.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @system_setting.value %>
</p>

<%= link_to 'Edit', edit_system_setting_path(@system_setting) %> |
<%= link_to 'Back', system_settings_path %>
