<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :email, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.text_field :email, :class => 'form-control', :placeholder => ' Email ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :employee_code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= form.text_field :employee_code, :class => 'form-control', :placeholder => 'Employee Code ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :designation, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= form.text_field :designation, :class => 'form-control', :placeholder => 'Designation ', :required => true %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6"><%= form.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %></div>
          <div class="col-sm-6"><%= form.check_box :is_active %></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :team_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= form.select(:team_id, options_for_select(Team.all.collect { |u| [u.name, u.id] }, @user.team_id), { :prompt => 'Select Team' }, :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= form.label :user_role, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= form.select(:user_role, options_for_select(["HR", "EMPLOYEE"], @user.user_role), { :prompt => 'Select Role' }, :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= form.label :password, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= form.password_field :password, :class => 'form-control', :placeholder => ' Password ', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= form.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Password Confirmation ', :required => true %>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
