<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Edit Employee') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'Back', users_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <%= render 'form', user: @user %>
</div>