<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Employees') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Employee', new_user_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>

<table class="table table-bordered">
  <tr class="tr_style">
    <th>Name</th>
    <th>Email</th>
    <th>Employee Code</th>
    <th>Team</th>
    <th>Designation</th>
    <th>Employee Role</th>
    <th colspan="2"></th>
  </tr>


  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.employee_code %></td>
      <td><%= user.team_id %></td>
      <td><%= user.designation %></td>
      <td><%= user.user_role %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
