/* ========================================================================
 * TABLE OF CONTENTS
 * ========================================================================
 
 * ========================================================================
 * LAYOUT
 * ========================================================================
   01. HEADER
   02. SIDEBAR LEFT & RIGHT
   03. PAGE CONTENT
 * ========================================================================
 
 * ========================================================================
 * PAGES
 * ========================================================================
   01. SIGN
   02. ERROR
   03. INVOICE
 * ========================================================================
 
 * ========================================================================
 * COMPONENT
 * ========================================================================
   01. RESET
   02. PANEL
   03. MEDIA MANAGER
   04. PAGINATION
   05. RATING STAR
   06. DROPDOWN
   07. LIST GROUP
   08. FORM
   09. TABLE
   10. BUTTON
   11. MISC
 * ========================================================================
 
 * ========================================================================
 * PLUGINS
 * ========================================================================
   01. CHOSEN
   02. DROPZONE
   03. JPRELOADER
   04. DATEPICKER
   05. ION SLIDER
 * ======================================================================== */
/* ========================================================================
 * HEADER
 * ======================================================================== */
body.page-sidebar-minimize #header .navbar-minimize > a {
  background-color: #0575af;
  color: #ffffff;
}
body.page-sidebar-minimize #header .navbar-minimize:hover > a {
  background-color: #305582 !important;
}
#header .navbar-header {
  background-color: #305582 !important;
}
/* ========================================================================
 * SIDEBAR LEFT & RIGHT
 * ======================================================================== */
#sidebar-left.sidebar-box .sidebar-content img,
#sidebar-left.sidebar-rounded .sidebar-content img,
#sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #81b71a;
}
#sidebar-left.sidebar-box .sidebar-menu > li.active > a > .icon i,
#sidebar-left.sidebar-rounded .sidebar-menu > li.active > a > .icon i,
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #81b71a;
}
#sidebar-left.sidebar-box .sidebar-menu > li > ul > li:hover:after,
#sidebar-left.sidebar-rounded .sidebar-menu > li > ul > li:hover:after,
#sidebar-left.sidebar-circle .sidebar-menu > li > ul > li:hover:after {
  -webkit-box-shadow: 0 0 0 5px #628a14;
  -moz-box-shadow: 0 0 0 5px #628a14;
  box-shadow: 0 0 0 5px #628a14;
}
#sidebar-left .sidebar-menu ul li:hover:after {
  background-color: #81b71a;
}
#sidebar-left .sidebar-menu ul li:hover a:before {
  color: #81b71a;
}
#sidebar-left .sidebar-menu ul li.active:after {
  background-color: #81b71a;
}
#sidebar-left .sidebar-menu ul li.active > ul > li.active a:before {
  color: #81b71a;
}
/* ========================================================================
 * PAGE CONTENT
 * ======================================================================== */
body.page-sidebar-minimize .navbar-minimize,
body.page-sidebar-minimize-auto .navbar-minimize {
  border-right: 1px solid #81b71a !important;
}
body.page-sidebar-minimize .navbar-minimize a,
body.page-sidebar-minimize-auto .navbar-minimize a {
  background-color: #81b71a;
  border-bottom: 1px solid #81b71a;
}
body.page-sidebar-minimize .navbar-minimize a:hover,
body.page-sidebar-minimize-auto .navbar-minimize a:hover {
  background-color: #71a117;
  border-bottom: 1px solid #71a117;
}
body.page-sidebar-minimize .navbar-minimize a i,
body.page-sidebar-minimize-auto .navbar-minimize a i {
  color: #ffffff;
}
.navbar-minimize-mobile {
  background-color: #81b71a;
}
.navbar-minimize-mobile:hover {
  background-color: #71a117;
}
@media (max-width: 768px) {
  body.page-sidebar-left-show .navbar-minimize-mobile,
  body.page-sidebar-right-show .navbar-minimize-mobile {
    background-color: #628a14;
  }
  body.page-sidebar-left-show .navbar-minimize-mobile:hover,
  body.page-sidebar-right-show .navbar-minimize-mobile:hover {
    background-color: #71a117;
  }
}
.navbar-toolbar .navbar-form input:focus {
  border: 1px solid #81b71a;
}
.navbar-toolbar .navbar-form .btn-focus {
  background-color: #81b71a;
  box-shadow: none;
  border: none;
  color: #ffffff;
}
.navbar-toolbar .navbar-right .dropdown > a:focus > i {
  color: #81b71a;
}
/* ========================================================================
 * SIGN
 * ======================================================================== */
.sign-wrapper a {
  color: #81b71a;
}
.sign-wrapper a:hover,
.sign-wrapper a:focus,
.sign-wrapper a:active {
  color: #7eb319;
}
.sign-text:before {
  background-color: #9fe024;
}
.sign-header {
  background-color: #81b71a;
  border-bottom: 10px solid #6b9816;
}
.sign-text span {
  background-color: #81b71a;
}
.sign-text img {
  border: 7px solid #81b71a;
}
/* ========================================================================
 * ERROR
 * ======================================================================== */
.error-wrapper h1 {
  color: #81b71a;
}
/* ========================================================================
 * INVOICE
 * ======================================================================== */
.product-num {
  background-color: #81b71a;
}
/* ========================================================================
 * RESET
 * ======================================================================== */
a {
  color: #81b71a;
}
a:hover,
a:active,
a:focus {
  color: #628a14;
}
input.no-border-left:focus,
textarea.no-border-left:focus {
  border-top: 1px solid #81b71a !important;
  border-right: 1px solid #81b71a !important;
  border-bottom: 1px solid #81b71a !important;
  border-left: none !important;
}
input.no-border-right:focus,
textarea.no-border-right:focus {
  border-top: 1px solid #81b71a !important;
  border-none: 1px solid #81b71a !important;
  border-bottom: 1px solid #81b71a !important;
  border-right: none !important;
}
input:focus,
textarea:focus {
  border: 1px solid #81b71a !important;
}
/* ========================================================================
 * PANEL
 * ======================================================================== */
.panel-tab .panel-heading ul li.active a i {
  color: #81b71a;
}
.panel-tab .panel-heading ul li a:hover i {
  color: #81b71a;
}
/* ========================================================================
 * MEDIA MANAGER
 * ======================================================================== */
.media-manager .media-manager-options .filter-type a.active {
  color: #81b71a;
}
/* ========================================================================
 * PAGINATION
 * ======================================================================== */
.pagination > li > a {
  color: #628a14;
}
.pagination > .active > a,
.pagination > .active > span {
  background-color: #628a14;
  border: 1px solid #628a14;
}
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #81b71a;
  border: 1px solid #81b71a;
}
.pager > li > a {
  color: #628a14;
}
/* ========================================================================
 * RATING STAR
 * ======================================================================== */
.rating .star:hover:before {
  color: #81b71a;
}
.rating .star.active:before {
  color: #81b71a;
}
.rating .star.active ~ .star:before {
  color: #81b71a;
}
/* ========================================================================
 * DROPDOWN
 * ======================================================================== */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li.active a {
  background-color: #81b71a;
}
.dropdown-menu li.active:hover a,
.dropdown-menu li.active:focus a,
.dropdown-menu li.active:active a {
  background-color: #81b71a;
  cursor: default;
}
.dropdown-menu li > a:hover:before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-left: 3px solid #71a117;
}
/* ========================================================================
 * LIST GROUP
 * ======================================================================== */
a.list-group-item.active {
  background-color: #81b71a;
  border-color: #81b71a;
}
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #81b71a;
  border-color: #81b71a;
}
/* ========================================================================
 * FORM
 * ======================================================================== */
.ckbox-theme input[type=checkbox]:checked + label::after {
  border-color: #81b71a;
  background-color: #81b71a;
}
.ckbox-theme input[type=checkbox][disabled]:checked + label::after {
  border-color: #81b71a;
  opacity: .5;
}
.rdio-theme input[type=radio]:checked + label::after {
  border-color: #81b71a;
  background-color: #81b71a;
}
.rdio-theme input[type=radio][disabled]:checked + label::after {
  border-color: #81b71a;
  opacity: .5;
}
.form-control:focus {
  border: 1px solid #81b71a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-focus {
  border: 1px solid #81b71a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* ========================================================================
 * TABLE
 * ======================================================================== */
.table-theme thead tr th {
  background-color: #81b71a !important;
  border-color: #91cd1d #91cd1d #6b9816 !important;
  color: #fff;
}
.table-theme tbody tr td.sorting_1 {
  background: #a5e231 !important;
  color: white;
  border-bottom: 1px solid #b3e651 !important;
}
.table-theme tfoot tr th {
  background-color: #81b71a !important;
  border-color: #6b9816 #91cd1d #91cd1d !important;
  color: #fff;
}
.table-theme.table-bordered {
  border: 1px solid #81b71a;
}
.table-theme.table-bordered thead tr th:first-child,
.table-theme.table-bordered tfoot tr th:first-child,
.table-theme.table-bordered thead tr th:last-child,
.table-theme.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-theme.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #b3e651 !important;
}
.table-theme table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-theme table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
/* ========================================================================
 * BUTTON
 * ======================================================================== */
.btn-theme {
  background-color: #81b71a;
  border-color: #81b71a;
  color: white;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.btn-theme[disabled],
.btn-theme.disabled {
  background-color: #71a117;
  border-color: transparent;
  color: white;
}
.btn-theme.dropdown-toggle.btn-theme {
  background-color: #81b71a;
  border-color: #71a117;
  color: white;
}
.btn-theme.btn-alt {
  background-color: #71a117;
  border: 1px solid #81b71a;
}
.btn-theme.btn-alt:hover {
  background-color: #628a14;
}
.btn-theme.btn-stroke {
  border: 1px double #81b71a;
  background-color: transparent;
  color: #999;
}
.btn-theme.btn-stroke:hover {
  background-color: #71a117;
  border-color: transparent;
  color: white;
}
.btn-theme.btn-solid {
  border: 1px solid #81b71a;
}
.btn-theme.btn-dashed {
  border: 1px dashed #81b71a;
}
.btn-theme.btn-dotted {
  border: 1px dotted #81b71a;
}
.btn-theme.btn-double {
  border: 4px double #81b71a;
}
.btn-theme.btn-inset {
  border: 4px inset #81b71a;
}
.btn-theme.btn-circle {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.btn-theme.btn-slidedown:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #628a14;
  z-index: -1;
}
.btn-theme.btn-slidedown:hover,
.btn-theme.btn-slidedown:active {
  color: white;
}
.btn-theme.btn-slidedown:hover:after,
.btn-theme.btn-slidedown:active:after {
  height: 100%;
}
.btn-theme.btn-slideright:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #628a14;
  z-index: -1;
}
.btn-theme.btn-slideright:hover,
.btn-theme.btn-slideright:active {
  color: white;
}
.btn-theme.btn-slideright:hover:after,
.btn-theme.btn-slideright:active:after {
  width: 100%;
}
.btn-theme.btn-expand:after {
  width: 0;
  height: 103%;
  top: 50%;
  left: 50%;
  background-color: #628a14;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.btn-theme.btn-expand:hover:after {
  width: 90%;
  opacity: 1;
}
.btn-theme.btn-expand:active:after {
  width: 101%;
  opacity: 1;
}
.btn-theme.btn-rotate {
  overflow: hidden;
}
.btn-theme.btn-rotate:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #628a14;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-theme.btn-rotate:hover:after {
  height: 260%;
  opacity: 1;
}
.btn-theme.btn-rotate:active:after {
  height: 400%;
  opacity: 1;
}
.btn-theme.btn-open {
  overflow: hidden;
}
.btn-theme.btn-open:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #628a14;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.btn-theme.btn-open:hover:after {
  height: 75%;
  opacity: 1;
}
.btn-theme.btn-open:active:after {
  height: 130%;
  opacity: 1;
}
.btn-theme.btn-push {
  background: #81b71a;
  box-shadow: 0 6px #628a14;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-theme.btn-push:hover {
  box-shadow: 0 4px #628a14;
  top: 2px;
}
.btn-theme.btn-push:active {
  box-shadow: 0 0 #628a14;
  top: 6px;
}
.btn-theme.btn-pushright {
  background: #81b71a;
  box-shadow: 6px 0 #628a14;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-theme.btn-pushright:hover {
  box-shadow: 4px 0 #628a14;
  left: 2px;
}
.btn-theme.btn-pushright:active {
  box-shadow: 0 0 #628a14;
  left: 6px;
}
/* ========================================================================
 * PANEL
 * ======================================================================== */
.panel-theme .panel-heading {
  background-color: #81b71a;
  border: 1px solid #7eb319;
  color: white;
}
.panel-theme .panel-heading .option .btn:hover {
  background-color: #71a117;
  color: white;
}
.panel-theme .panel-heading .option .btn i {
  color: white;
}
.panel-bg-theme .panel-body {
  background-color: #81b71a;
  color: white;
}
.panel-bg-theme .panel-body .text-muted {
  color: #f2f2f2;
}
/* ========================================================================
 * MISC
 * ======================================================================== */
.img-bordered-theme {
  border: 2px solid #81b71a;
}
.progress-bar-theme {
  background-color: #81b71a;
}
.fg-theme {
  color: #81b71a !important;
}
.nicescroll-rails div {
  background-color: #81b71a !important;
}
.sidebar .nicescroll-rails div {
  background-color: #323232 !important;
}
.cal-month-box {
  border-top: 7px solid #6b9816 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.cal-row-head [class*="cal-cell1"],
.cal-row-head [class*="cal-cell"] {
  background-color: #81b71a;
  color: #ffffff;
  border-width: 0px 1px 0px !important;
  border-style: solid;
  border-color: #91cd1d #91cd1d #6b9816 !important;
  border-left: none !important;
}
.cal-row-head [class*="cal-cell1"]:hover,
.cal-row-head [class*="cal-cell"]:hover {
  background-color: #81b71a !important;
}
.cal-row-head [class*="cal-cell1"]:first-child,
.cal-row-head [class*="cal-cell"]:first-child {
  border-width: 0px 1px 0px !important;
  border-style: solid;
  border-color: #91cd1d #91cd1d #6b9816 !important;
}
.cal-row-head [class*="cal-cell1"]:last-child,
.cal-row-head [class*="cal-cell"]:last-child {
  border-right: none !important;
}
#cal-day-panel {
  border-top: 7px solid #6b9816 !important;
  background-color: rgba(255, 255, 255, 0.28);
}
.cal-day-today {
  background-color: #81b71a !important;
}
.cal-row-head + .cal-day-hour {
  background-color: #6b9816 !important;
  color: #ffffff;
}
.bg-theme {
  background-color: #81b71a !important;
  border: 1px solid #81b71a;
  color: white;
}
.bg-theme a,
.bg-theme i,
.bg-theme span,
.bg-theme small,
.bg-theme p {
  color: white;
}
.bg-theme .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-theme .morris-hover-row-label {
  background-color: #628a14;
}
#back-top:hover {
  background: #81b71a;
  box-shadow: 0 0 0 6px #ffffff;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
  background: #81b71a !important;
}
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover {
  background: #628a14 !important;
}
/* ========================================================================
 * CHOSEN
 * ======================================================================== */
.chosen-container .chosen-results li.highlighted {
  background-color: #81b71a !important;
  background-image: none !important;
}
/* ========================================================================
 * DROPZONE
 * ======================================================================== */
.dz-file-preview .dz-details:before {
  color: #81b71a;
}
/* ========================================================================
 * JPRELOADER
 * ======================================================================== */
#jpreBar {
  background-color: #81b71a;
}
/* ========================================================================
 * DATEPICKER
 * ======================================================================== */
.datepicker table thead tr:first-child {
  background-color: #81b71a;
}
.datepicker table thead tr:last-child {
  background-color: #628a14;
}
.datepicker table thead tr th {
  background-color: #81b71a;
  border-color: #71a117 #71a117 #6b9816;
}
.datepicker table thead tr .prev:hover,
.datepicker table thead tr .switch:hover,
.datepicker table thead tr .next:hover {
  background-color: #71a117 !important;
}
.datepicker table tbody tr td.active,
.datepicker table tbody tr td.active:hover,
.datepicker table tbody tr td.active:disabled,
.datepicker table tbody tr td.active.disabled:hover {
  background-color: #81b71a;
}
.datepicker table tbody tr td.active.active {
  background-color: #81b71a;
}
.datepicker table tbody tr td.active.active:hover {
  background-color: #628a14;
}
.datepicker .icon-arrow-left:before {
  font-family: "FontAwesome";
  content: "\f104";
}
.datepicker .icon-arrow-right:before {
  font-family: "FontAwesome";
  content: "\f105";
}
.datepicker-dropdown:after {
  border-bottom: 6px solid #81b71a;
}
/* ========================================================================
 * ION SLIDER
 * ======================================================================== */
.slider-theme .irs-diapason {
  background-color: #91cd1d !important;
}
.slider-theme .irs-slider {
  background-color: #81b71a !important;
}
.slider-theme #irs-active-slider,
.slider-theme .irs-slider:hover {
  background-color: #81b71a !important;
}
.slider-theme .irs-from,
.slider-theme .irs-to,
.slider-theme .irs-single {
  background-color: #81b71a !important;
}
.slider-theme .irs-from:after,
.slider-theme .irs-to:after,
.slider-theme .irs-single:after {
  border-top-color: #81b71a !important;
}
.slider-theme.circle .irs-slider {
  top: 21px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slider-theme.donut .irs-slider {
  background: #e1e4e9 !important;
  top: 21px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #81b71a;
  margin-left: -3px;
}
