/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.head_style {
  color: #125687 !important;
  font-size: 21px;
  font-weight: 900;
  margin: 12px;
  text-transform: capitalize;
}

.tr_style{
  background-color: #154662;
  color: #ffffff;
}


//Team efforts style
.each_team_effort_div_style{
  width: 100%;
  border: 1px solid rgb(226, 244, 255);
  margin-bottom: 3%;
  border-radius: 2px;
  background-color: whitesmoke;
  height: 220px;
  padding-left: 0px;
  padding-right: 0px;
}
.each_team_effort_row_style {
  border-bottom: 1px solid rgb(226, 244, 255);
  width: 100%;
}
.each_team_effort_row_style_last{
  width: 100%;
}
.each_team_effort_row_style_comment{
  padding: 6px;
  bottom: 0;
}
.each_team_effort_field_style{
  padding: 6px;
}
.bottom_monthely_1{
  max-width: 60px;
  background-color: #333333;
  padding: 15px 0px;
  margin-left: 20px;
}