<!DOCTYPE html>
<html lang="en" class="ie8">
<html lang="en" class="ie9">
<html lang="en">
<head>
  <title>SourceITSolutions</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--<link rel="icon" type="image/png" href="/images/landing_page/small-logo.png"/>-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Oswald:700,400" rel="stylesheet">
  <link href="/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global/plugins/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/global/plugins/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/admin/css/reset.css" rel="stylesheet">
  <link href="/admin/css/layout.css" rel="stylesheet">
  <link href="/admin/css/components.css" rel="stylesheet">
  <link href="/admin/css/plugins.css" rel="stylesheet">
  <link href="/admin/css/themes/default.theme.css" rel="stylesheet" id="theme">
  <link href="/admin/css/custom.css" rel="stylesheet">
  <script src="/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>


</head>
<body class="page-header-fixed" style="background-color: #E9EAED !important;">
<section id="wrapper">
  <header id="header">
    <div class="header-left">
      <div class="navbar-minimize-mobile left"><i class="fa fa-bars"></i></div>
      <div class="navbar-header">
        <a class="navbar-brand">SITS</a>
      </div>
      <div class="navbar-minimize-mobile right"><i class="fa fa-cog"></i></div>
      <div class="clearfix"></div>
    </div>
    <div class="header-right">
      <div class="navbar navbar-toolbar" style="background-color: #305582">
        <ul class="nav navbar-nav navbar-left">
          <li class="navbar-minimize">
            <a href="javascript:void(0);" title="Minimize sidebar">
              <i class="fa fa-bars"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <li><a href="#" style="color: white !important;font-weight: bold"><%= current_user.email %></a></li>
            <li>
              <a href="/logout" style="color: white !important;font-weight: bold"><i class="fa fa-sign-out"></i>Logout</a>
            </li>
          <% else %>
            <li><a href="/login" style="color: white !important;font-weight: bold">LOGIN</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <aside id="sidebar-left" class="sidebar-circle">
    <ul class="sidebar-menu">
      <% if current_user.present? %>
        <% if current_user.present? %>
          <li class="submenu <%= (yield :team_efforts).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Team Efforts</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :team_efforts).present? ? 'active' : '' %>">
                <a href="/team_efforts">Team Efforts</a>
              </li>
            </ul>
          </li>

          <li class="submenu <%= (yield :teams).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="arrow"></span>
              <span class="text">Teams</span>
            </a>
            <ul>
              <li class="<%= (yield :teams).present? ? 'active' : '' %>">
                <a href="/teams">TeamS</a>
              </li>
            </ul>
          </li>

          <!--  <li class="submenu <%#= (yield :states).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Static Data</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%#= (yield :states).present? ? 'active' : '' %>">
                <a href="/states">States</a>
              </li>
              <li class="<%#= (yield :districts).present? ? 'active' : '' %>">
                <a href="/districts">Districts</a>
              </li>
              <li class="<%#= (yield :mandals).present? ? 'active' : '' %>">
                <a href="/mandals">Mandals</a>
              </li>
              <li class="<%#= (yield :villages).present? ? 'active' : '' %>">
                <a href="/villages">Villages</a>
              </li>

              <li class="<%#= (yield :user_roles).present? ? 'active' : '' %>">
                <a href="/user_roles">User Roles</a>
              </li>

            </ul>
          </li>-->
          <li class="submenu <%= (yield :users).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Users</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :users).present? ? 'active' : '' %>">
                <a href="/users">Users</a>
              </li>
            </ul>
          </li>
          <li class="submenu <%= (yield :system_settings).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">System Settings</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :system_settings).present? ? 'active' : '' %>">
                <a href="/system_settings">System Settings</a>
              </li>
            </ul>
          </li>

        <% end %>

      <% end %>
    </ul>
  </aside>
  <div id="section">
    <section id="page-content" class="">
      <div style="padding: 15px;background-color: white">
        <%= yield %>
      </div>
    </section>
  </div>
  <aside id="sidebar-right">
    <div class="panel panel-tab"></div>
  </aside>
</section>
<div id="back-top" class="animated pulse circle"><i class="fa fa-angle-up"></i></div>
<!--<script src="/global/plugins/bower_components/jquery/dist/jquery.min.js"></script>-->
<script src="/global/plugins/bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/global/plugins/bower_components/typehead.js/dist/handlebars.js"></script>
<script src="/global/plugins/bower_components/typehead.js/dist/typeahead.bundle.min.js"></script>
<script src="/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
<script src="/global/plugins/bower_components/jquery.sparkline.min/index.js"></script>
<script src="/global/plugins/bower_components/jquery-easing-original/jquery.easing.1.3.min.js"></script>
<script src="/global/plugins/bower_components/ionsound/js/ion.sound.min.js"></script>
<script src="/global/plugins/bower_components/bootbox/bootbox.js"></script>
<script src="/admin/js/apps.js"></script>
<script src="/admin/js/rails.js"></script>
<script src="/admin/js/pages/blankon.layout.js"></script>
<script src="/admin/js/demo.js"></script>
<script type="text/javascript">

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });
</script>
</body>
</html>