<%= form_with(model: team_effort, local: true) do |form| %>
  <% if team_effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_effort.errors.count, "error") %> prohibited this team_effort from being saved:</h2>

      <ul>
        <% team_effort.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 padding-left-0">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.text_field(:log_date, :placeholder => ' Date', :class => 'datepicker form-control') %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.select :time_slot, options_for_select(time_slots, @team_effort.time_slot), {:prompt=>'Select Time Slot'}, {:class => 'form-control select_tag_style'} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">

          <%= form.text_field :jira_id, :placeholder => 'Jira Id', :class => 'form-control' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.text_area :description, :placeholder => 'Notes', :size => "100x2", :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <div class="actions">
      <%= form.submit "Team Effort >> #{current_user.name}" , :class => "zl_round_button2 profile_submit" %>
    </div>
  </div>
<% end %>
