<p id="notice"><%= notice %></p>

<h1>Team Efforts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Jira</th>
      <th>Description</th>
      <th>Log date</th>
      <th>Time slot</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_efforts.each do |team_effort| %>
      <tr>
        <td><%= team_effort.name %></td>
        <td><%= team_effort.user_id %></td>
        <td><%= team_effort.jira_id %></td>
        <td><%= team_effort.description %></td>
        <td><%= team_effort.log_date %></td>
        <td><%= team_effort.time_slot %></td>
        <td><%= team_effort.comment %></td>
        <td><%= link_to 'Show', team_effort %></td>
        <td><%= link_to 'Edit', edit_team_effort_path(team_effort) %></td>
        <td><%= link_to 'Destroy', team_effort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Effort', new_team_effort_path %>
