<div><h3>Team Effort &nbsp;&nbsp;&nbsp;<span style="color: blue"><%= current_user.name %></span></h3></div>
<% @team_efforts = TeamEffort.where('user_id = ?', current_user.id).limit(18).order('updated_at DESC') %>

<div class="row" style="width: 100%;position: relative;margin-right: 0px">
  <% @team_efforts.each do |team_effort| %>

    <% if team_effort.time_slot.eql?("IN") || team_effort.time_slot.eql?("OUT")
         status = team_effort.created_at.strftime('%H : %M')
       else
         status = team_effort.jira_id
       end
    %>

    <div class="col-sm-4">
      <div class="each_team_effort_div_style">
        <div class="col-sm-12 each_team_effort_row_style" style="background-color: #99CC00;padding-left: 0px;padding-right: 0px;max-height:40px;">
          <div class="col-sm-7 each_team_effort_field_style"><%= team_effort.time_slot %></div>
          <div class="col-sm-5 each_team_effort_field_style" style="text-align: right"><%= team_effort.log_date %></div>
        </div>
        <div class="col-sm-12 each_team_effort_field_style" style="background-color: #99CC00;text-align: center;max-height:40px;"><%= status %></div>
        <div class=" col-sm-12 each_team_effort_field_style text-left" style="font-size: 14px ;font-weight: normal;padding-left: 5px;vertical-align: top;max-height: 70px;"><%= simple_format team_effort.description %></div>
        <% if !team_effort.comment.blank? %>
          <div class="col-sm-12 each_team_effort_row_style_comment" style="background-color:#33CCFF;vertical-align: bottom;max-height: 70px;"> <%= simple_format team_effort.comment %> </div>
        <% end %>
        <div class="col-sm-12 text-right" style="padding-left: 0px;position: absolute;bottom: 15px;right: 5px; ">
          <%#= link_to image_tag('add-icon.png', :width => "20px", :class => "icon_img_style"), "/team_efforts/add_comment?id=#{team_effort.id}" %>
        </div>
      </div>
    </div>

  <% end %>
  <div class="col-sm-12 text-right" style="padding: 10px;">
    <a href="/team_efforts/" target="_blank" class="zl_round_button2 profile_submit"> All Team Efforts</a>
  </div>
  <div class="col-sm-12 text-right" style="padding: 10px">
    <a href="/team-effort-summary" target="_blank" class="zl_round_button2 profile_submit">Team Effort Summary</a>
  </div>

</div>

<div style="padding-top: 25px;padding-bottom: 20px" id="new_effort">
  <%= render 'form', team_effort: @team_effort %>
</div>

