<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_effort.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @team_effort.user_id %>
</p>

<p>
  <strong>Jira:</strong>
  <%= @team_effort.jira_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team_effort.description %>
</p>

<p>
  <strong>Log date:</strong>
  <%= @team_effort.log_date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @team_effort.time_slot %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @team_effort.comment %>
</p>

<%= link_to 'Edit', edit_team_effort_path(@team_effort) %> |
<%= link_to 'Back', team_efforts_path %>
